public/
resources/
archetypes/default.md
static/src/school/basic_mnist.py
static/src/school/get_mean_std_datasets.py
static/src/school/increasingly_complex_mnist.py
static/src/school/mnist.py
static/src/school/simple_example.py
data/
runs/
content/schoolremake/etherpad.org
static/src/schoolremake/unused/mnist_hogwild.py
static/src/schoolremake/unused/train.py
static/src/schoolremake/unused/two_layer_net_tensor.py
static/img/school/unused/digit.png
static/img/school/unused/neuron_grayanatomy_nw.png
static/img/school/unused/relu.png
static/img/school/unused/softmax.png
static/img/fastai_slides_old.png
.hugo_build.lock
static/litt
content/2022_modules/11_dataset_audio/waves_yesno
content/2022_modules/11_dataset_audio/waves_yesno.tar.gz
content/2022_modules/12_dataset_vision/MNIST/raw
content/2022_modules/13_data_preprocessing/FashionMNIST/raw